

<mat-card>
  

  {{userForm.value|json}}
  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <br>

  <div formGroupName="addressGroup">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>District</mat-label>
      <input matInput formControlName="district">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country">
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-label *ngIf="userForm.get('addressGroup.address')?.touched 
    && userForm.get('addressGroup.address')?.errors?.['customAddress']">
      Must Contain Dhaka
   </mat-label>
   <mat-label *ngIf="userForm.get('addressGroup.country')?.touched && userForm.get('addressGroup.country')?.dirty
   && userForm.get('addressGroup.country')?.errors?.['customCountryError']">
     Must Contain Bangladesh
  </mat-label>
  </div>
    
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput formControlName="comment" ></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [disabled]="userForm.invalid">Primary</button>
  </form>

</mat-card>

<!-- <router-outlet></router-outlet> -->
